body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  margin: 10px;
  margin-left: 50px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-btn {
  background-color: #007bff;
  color: #fff;
  margin-left: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.clear-btn:hover {
  background-color: #0062cc;
}

select {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

select:focus {
  outline: none;
  border-color: blue;
}
